.bg-login1 {
    background-color: #f4f4f4;
}

.bg-login2 {
    background: rgb(77, 164, 255);
    background: linear-gradient(90deg, rgba(77, 164, 255, 1) 0%, rgba(29, 116, 253, 1) 50%, rgba(0, 18, 255, 1) 100%);
}